<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>383298255604-ea85882o45ohkldkaultiqc1ph8gl9jl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383298255604-ea85882o45ohkldkaultiqc1ph8gl9jl</string>
	<key>API_KEY</key>
	<string>AIzaSyB2M6TFZR3SGl5qr4MSIOmFL_bSQv2qA1w</string>
	<key>GCM_SENDER_ID</key>
	<string>383298255604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.susier2016.Clonechat</string>
	<key>PROJECT_ID</key>
	<string>clonechat-a4e15</string>
	<key>STORAGE_BUCKET</key>
	<string>clonechat-a4e15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:383298255604:ios:7460ecd333fa5ba6</string>
	<key>DATABASE_URL</key>
	<string>https://clonechat-a4e15.firebaseio.com</string>
</dict>
</plist>